---
title: Вода в вашем доме
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">
			<strong>Вода в вашем доме</strong>
		</h2>
		<p class="subtext editable">
			Водоснабжение водоотведение дренаж для частных жилых домов, дач и бань в Великом Новгороде и Новгородской области&nbsp;
		</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Написать нам</a></p>
		<p><a class="button alt" href="tel:{{site.phone}}">Позвонить нам</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">
				Вам нужен автономный водопровод, автономная канализация в вашем доме или на даче? Не знаете с чего начать? Есть собственные идеи, хотете их воплотить? Звоните нам!
			</h3>
			<p class="editable">
				У нас есть большой опыт, мастерство, дисциплинированная бригада, спецтехника (миниэкскаватор, экскаватор-погрузчик, самосвал, ассенизатор), специнструмент.
				Более 300 законченных объектов водоснабжения и водоотведения.

			</p>
			<p class="editable">
				<a href="/portfolio/">Хочу знать всё &rarr;</a>
			</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for usluga in site.uslugi limit: 4 %}
					{% if usluga.name == "Водоснабжение" %}
						<li><a href="{{ site.baseurl }}{{ usluga.url }}"><img src="{% include relative-src.html src=usluga.image_path %}" /></a></li>
					{% endif %}
				{% endfor %}
				{% for usluga in site.uslugi limit: 4 %}
					{% if usluga.name != "Водоснабжение" %}
						<li><a href="{{ site.baseurl }}{{ usluga.url }}"><img src="{% include relative-src.html src=usluga.image_path %}" /></a></li>
					{% endif %}
				{% endfor %}
			<!--</ul>
			<ul class="image-grid">
					<li><a href="{{ site.baseurl }}/uslugi/Водоснабжение/"><img src="{{ site.baseurl }}/images//uslugi/livnevaya.jpg" width="300" /></a></li>-->
		</div>
	</div>
</section>
<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">
				Наши партнеры
			</h3>
			<p class="editable">
				Вложенные вами деньги должны безотказно работать и приносить вам пользу, и комфорт!
			</p>
		</div>		
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/partners/dab.jpg" width="300" /></li>
				<li><img src="{{ site.baseurl }}/images/partners/ekogrand.png" width="300" /></li> 
				<li><img src="{{ site.baseurl }}/images/partners/wilo1.jpg" width="300" /></li>
			</ul>
		</div>
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/partners/topoleko.png" width="300" /></li>
				<li><img src="{{ site.baseurl }}/images/partners/termit.svg" width="300" /></li>
				<li><img src="{{ site.baseurl }}/images/partners/grundfoslogo.png" width="300" /></li>
				<li><img src="{{ site.baseurl }}/images/partners/jilex.svg" width="300" /></li>
			</ul>
		</div>
	</div>
</section>