---
title: Portfolio
heading: Наши услуги
subtitle: Предварительный расчёт по телефону. Выезд на место, расчет стоимости, подбор оборудования и материалов, доставка, монтаж, обслуживание. Гарантия на все виды работ.
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_uslugi/" class="btn"></a></p>
		<ul class="image-grid">
			{% for usluga in site.uslugi %}
				<li>
					<a href="{{ site.baseurl }}{{ usluga.url }}">
						<img src="{% include relative-src.html src=usluga.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ usluga.name }}</div>
							<div class="position">{{ usluga.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
		</ul>
	</div>
</section>
