---
layout: default
---
{% assign portfolio = site.pages | where: "path", "portfolio.html" | first %}

<section class="hero diagonal">
	<div class="container">
		{% if portfolio.heading %}
		<h2><a href="{{ site.baseurl }}/portfolio/">{{ page.title | capitalize }}</h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
	</div>
</section>
<section class="diagonal">
	<div class="container">
		<!--<p><img src="{% include relative-src.html src=page.image_path %}" class="screenshot"></p>-->
		<div>
			{{ content }}
		</div>
		<p><a href="tel:{{site.phone}}">Звонок мастеру</a></p>
		<!--<p><a href="{{ page.external_url }}">View {{ page.title }} &rarr;</a></p>-->
	<div class="sharing">
		{% assign share_url = page.url | absolute_url | cgi_escape %}
		<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">{% include social-icon.html icon="Facebook" %}</a>
		<a class="twitter" href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text=I'm%20going%20to%20this%20event!">{% include social-icon.html icon="Twitter" %}</a>
		<a class="instagram" href="https://instagram.com">{% include social-icon.html icon="Instagram" %}</a>
		<a class="pinterest" href="//pinterest.com/pin/create/link/?url={{ share_url }}&amp;description={{ page.description }}">{% include social-icon.html icon="Pinterest" %}</a>
	</div>

	<div class="cta">
		<div class="button"><a href="{{ site.baseurl }}/portfolio/">Больше наших работ &rarr;</a>
		</div>
	</div>
</section>
<section class="diagonal">
	<div class="container">
		<form action="{{ site.baseurl }}/contact-success/" method="post" class="contact-form">
			<input type="hidden" name="_to" value="romanrp-53@yandex.ru" />
			<input type="text" name="_gotcha" style="display: none;" />

			<div class="halves">
				<div>
					<label for="name">Имя</label>
					<input type="text" name="first-name" id="first-name" placeholder="Иван" />
				</div>

				<div>
					<label for="name">Фамилия</label>
					<input type="text" name="last-name" id="last-name" placeholder="Петров" />
				</div>
			</div>

			<label for="email">Ваш Email адрес</label>
			<input type="email" name="email" id="email" placeholder="ivan@example.com" required />

			<label for="message">Ваше письмо</label>
			<textarea name="message" id="message" placeholder="Здравствуйте,.."></textarea>

			<input type="submit" value="Отправить" />
		</form>
	</div>
</section>